@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&display=swap");

// Variables
$col-1: #333;
$col-2: #f2994a;
$col-3: #bdbdbd;
$col-4: #a9a9a9;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  color: $col-1;
}

// Utils
.container {
  padding: 50px 10%;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  margin-bottom: 12px;
  color: #000;
}

.h-md {
  font-family: "Playfair Display", serif;
  margin-bottom: 30px;
}

.h-sm {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 30px;
}

.list {
  list-style: none;
  margin-bottom: 30px;

  li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;

    input {
      transform: scale(1.6);
      transform-origin: left;
    }

    p {
      margin-left: 20px;
    }
  }
}

.description {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;

  img {
    margin-top: 4px;
  }

  p {
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    margin-left: 12px;
    width: 592px;
  }
}

.recipe-img {
  width: 100%;
  height: 450px;
  background-image: url("../img/photo1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  border-radius: 12px;
  margin-bottom: 40px;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.instructions {
  margin-bottom: 60px;
}

.instruction {
  width: 100%;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 36px calc(100% - 36px);
  gap: 15px;

  .step {
    width: 36px;
    height: 36px;
    padding-bottom: 4px;
    border-radius: 6px;
    background-color: $col-2;
    color: #fff;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .text {
    line-height: 24px;
  }
}

.source {
  color: $col-3;
  font-style: italic;
  text-decoration: none;
}

.numbers-col {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.numbers {
  width: 216px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: 60px 40px;
}

.numbers-item {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;

  &:first-child {
    i,
    p {
      color: $col-2;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  i {
    font-size: 2.2rem;
    margin-right: 15px;
  }

  h3 {
    font-size: 10px;
    text-transform: uppercase;
    color: $col-3;
    margin-bottom: 6px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }
}

footer {
  padding: 100px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: $col-4;
    font-size: 14px;
    font-weight: 600;

    a {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      color: $col-4;
    }
  }
}

// Mobile Screen
@media (max-width: 768px) {
  .container {
    padding: 10px 8px;
  }

  .title {
    font-size: 24px;
  }

  .list {
    li {
      font-size: 14px;
    }
  }

  .h-md {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .description {
    p {
      font-size: 12px;
    }
  }

  .recipe-img {
    height: 200px;
    margin-bottom: 24px;
  }

  .info-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .numbers-col {
    justify-content: flex-start;
  }

  .numbers {
    padding: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    display: grid;
    grid-template-areas:
      "yields yields yields"
      "prep-time cook-time total-time";
  }

  .numbers-item {
    margin-bottom: 24px;

    i {
      font-size: 1.5rem;
      margin-right: 6px;
    }

    h3 {
      font-size: 8px;
      margin-bottom: 2px;
    }

    p {
      font-size: 10px;
    }
  }

  .numbers-item:first-child {
    grid-area: yields;
  }
  .numbers-item:nth-child(2) {
    grid-area: prep-time;
  }
  .numbers-item:nth-child(3) {
    grid-area: cook-time;
  }
  .numbers-item:last-child {
    grid-area: total-time;
  }

  .instruction {
    border: 1px solid red;
    gap: 10px;
  }

  .source {
    font-size: 12px;
  }
}
